h1 { font-family: sans-serif; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  width: 400px;
  height: 400px;
  border 1px solid black;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
}

.white, .black {
  height: 50px;
  width: 50px;
}

.black { background-color: solid black;
}
